// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page, .post {
  // margin-bottom: 2em;
  //
  // li + li {
  //   margin-top: .25rem;
  // }
}

// Blog post or page title
.page-title, .post-title {
  // color: #303030;
  // margin-top: 0;
}

// Meta data line below post title
.post-date {
  // display: block;
  // margin-top: -0.5rem;
  // margin-bottom: 1rem;
  // color: $gray;
}

.dingbat::after {
  content: "☕  Have a nice day !";
  display: block;
  text-align: end;
  font-style: italic;
  font-family: cursive;
  margin-top: 1.9rem;
  font-size: 1.3rem;
  color: rgba(218, 176, 130, 0.8);
}
